<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
        <string>com.mbs.PrivilegedHelper</string>
        <key>StandardErrorPath</key>
        <string>/var/log/com.mbs.priviledhelper.log</string>
	<key>Sockets</key>
	<dict>
                <key>com.mbs.PrivilegedHelper</key>
		<dict>
			<key>SockFamily</key>
			<string>Unix</string>
			<key>SockPathMode</key>
			<integer>438</integer>
			<key>SockPathName</key>
                        <string>/var/run/com.mbs.PrivilegedHelper.socket</string>
			<key>SockType</key>
			<string>Stream</string>
		</dict>
	</dict>
</dict>
</plist>
